<!DOCTYPE html>
<html lang="fr">

    {% include "header.html" %}

<body>

    {% include "navbar.html" %}

    <!--Section: Head banner-->
    <div class="container-fluid z-depth-1">
        <section class="dark-grey-text">

            <div class="row pr-lg-5">
                <div class="col-md-7 mb-4">
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid"
                             alt="smaple image">
                    </div>
                </div>

                <div class="col-md-5 d-flex align-items-center">
                    <div>
                        <h3 class="font-weight-bold mb-4">Material Design Blocks</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adip elit. Maiores deleniti explicabo voluptatem
                            quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus,
                            fugiat eum soluta blanditiis adipisci, velit dolore magnam.</p>
                        <button type="button" class="btn btn-danger btn-rounded mx-0">Download</button>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!--Section: Head banner-->
i
    <!--Section: Articles-->
    <div class="container my-5 py-5">
        <section class="text-center">
            <div class="row">

                {% for item_data in items %}
                    {% for row in item_data %}

                    <div class="col-lg-4 col-md-12 mb-4">
                                <!-- Card -->
                        <div class="card">

                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top"
                                     src={{ url_for('static', filename=row[6]) }}
                                     alt="Card image cap">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">
                                <p class="mb-1"><a href="" class="font-weight-bold black-text">{{row[1]}}</a></p>

                                <p class="mb-1"><strong>{{row[2]}}</strong></p>

                                <button type="button" class="btn btn-danger btn-rounded btn-sm px-3">Ajouter au panier</button>
                                <button type="button" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect">
                                    En savoir plus
                                </button>

                            </div>

                        </div>

                    </div>

			        {% endfor %}
	            {% endfor %}

            </div>
        </section>
    </div>
    <!--Section: Articles-->

    {% include "footer.html" %}

    {% include "scripts.html" %}

</body>
</html>


